In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
y2015.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [4]:
y2015.shape

(421097, 111)

In [5]:
y2015.dtypes

id                                 object
member_id                         float64
loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                       float64
earliest_cr_line                   object
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
                                   ...
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
Length: 111, dtype: object

In [6]:
y2015.dtypes[y2015.dtypes != 'int64'][y2015.dtypes != 'float64']

id                           object
term                         object
int_rate                     object
grade                        object
sub_grade                    object
emp_title                    object
emp_length                   object
home_ownership               object
verification_status          object
issue_d                      object
loan_status                  object
pymnt_plan                   object
url                          object
desc                         object
purpose                      object
title                        object
zip_code                     object
addr_state                   object
earliest_cr_line             object
revol_util                   object
initial_list_status          object
last_pymnt_d                 object
next_pymnt_d                 object
last_credit_pull_d           object
application_type             object
verification_status_joint    object
dtype: object

In [7]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print ("Missing values per column:")
print (y2015.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

#Applying per row:
print ("\nMissing values per row:")
print (y2015.apply(num_missing, axis=1).head(20)) #axis=1 defines that function is to be applied on each row

Missing values per column:
id                                     0
member_id                              2
loan_amnt                              2
funded_amnt                            2
funded_amnt_inv                        2
term                                   2
int_rate                               2
installment                            2
grade                                  2
sub_grade                              2
emp_title                          23876
emp_length                         23819
home_ownership                         2
annual_inc                             2
verification_status                    2
issue_d                                2
loan_status                            2
pymnt_plan                             2
url                                    2
desc                              421052
purpose                                2
title                                134
zip_code                               2
addr_state                             2
dti                                    2
delinq_2yrs                            2
earliest_cr_line                       2
inq_last_6mths                         2
mths_since_last_delinq            203964
mths_since_last_record            346682
                                   ...
mo_sin_old_rev_tl_op                   2
mo_sin_rcnt_rev_tl_op                  2
mo_sin_rcnt_tl                         2
mort_acc                               2
mths_since_recent_bc                3800
mths_since_recent_bc_dlq          312497
mths_since_recent_inq              44601
mths_since_recent_revol_delinq    269360
num_accts_ever_120_pd                  2
num_actv_bc_tl                         2
num_actv_rev_tl                        2
num_bc_sats                            2
num_bc_tl                              2
num_il_tl                              2
num_op_rev_tl                          2
num_rev_accts                          3
num_rev_tl_bal_gt_0                    2
num_sats                               2
num_tl_120dpd_2m                   19232
num_tl_30dpd                           2
num_tl_90g_dpd_24m                     2
num_tl_op_past_12m                     2
pct_tl_nvr_dlq                         2
percent_bc_gt_75                    4241
pub_rec_bankruptcies                   2
tax_liens                              2
tot_hi_cred_lim                        2
total_bal_ex_mort                      2
total_bc_limit                         2
total_il_high_credit_limit             2
Length: 111, dtype: int64

Missing values per row:
0      4
1      9
2     10
3      7
4     10
5      6
6      9
7     10
8     10
9      7
10     7
11     7
12     9
13     5
14     8
15     8
16    10
17    10
18     8
19     7
dtype: int64

In [8]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [9]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [10]:
y2015.shape

(421097, 103)

In [11]:
y2015.dtypes[y2015.dtypes != 'int64'][y2015.dtypes != 'float64']

term                         object
grade                        object
emp_length                   object
home_ownership               object
verification_status          object
issue_d                      object
loan_status                  object
pymnt_plan                   object
purpose                      object
title                        object
initial_list_status          object
last_pymnt_d                 object
next_pymnt_d                 object
last_credit_pull_d           object
application_type             object
verification_status_joint    object
dtype: object

In [12]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [14]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,8 years,...,0.0,1.0,100.0,100.0,0.0,0.0,32950.0,25274.0,9200.0,15850.0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,10+ years,...,0.0,2.0,56.5,100.0,0.0,0.0,152650.0,8621.0,9000.0,0.0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0

In [15]:
#dummied_y2015 = pd.get_dummies(y2015)
#dummied_y2015.head(5)

In [16]:
#dummied_y2015.shape

In [17]:
list(y2015.columns.values)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'purpose',
 'title',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [18]:
if 'loan_status' in y2015.columns:
    print ('Yes')
else: print ('No')

Yes

In [19]:
#list(dummied_y2015.columns.values)

In [20]:
#if 'loan_status' in dummied_y2015.columns:
#    print ('Yes')
#else: print ('No')

In [21]:
#from sklearn import ensemble
#from sklearn.model_selection import cross_val_score

#rfc = ensemble.RandomForestClassifier()
#X = dummied_y2015.drop('loan_status', 1)
#Y = dummied_y2015['loan_status']
#X = X.dropna(axis=1)

#cross_val_score(rfc, X, Y, cv=10)

from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([ 0.98031393,  0.98043267,  0.98157251,  0.9816675 ,  0.97000712,
        0.97451912,  0.92609656,  0.98055048,  0.97739093,  0.98059659])

In [22]:
list(y2015['purpose'].unique())

['credit_card',
 'debt_consolidation',
 'major_purchase',
 'home_improvement',
 'small_business',
 'other',
 'house',
 'vacation',
 'car',
 'medical',
 'moving',
 'renewable_energy',
 'wedding',
 'educational']

In [23]:
list(y2015['inq_fi'].unique())

[0.0,
 1.0,
 2.0,
 3.0,
 5.0,
 6.0,
 4.0,
 8.0,
 16.0,
 7.0,
 9.0,
 10.0,
 13.0,
 11.0,
 17.0,
 12.0,
 14.0,
 nan,
 15.0]

In [24]:
list(y2015['title'].unique())

['Credit card refinancing',
 'Debt consolidation',
 'Major purchase',
 nan,
 'Business',
 'Home improvement',
 'Other',
 'Home buying',
 'Vacation',
 'Car financing',
 'Medical expenses',
 'Moving and relocation',
 'Green loan',
 'odymeds',
 'SAVE',
 'Learning and training',
 'new day',
 'Trying to come back to reality!',
 'considerate',
 'Paying off higher interest cards & auto',
 'Simple Loan Until Contract Is Completed',
 'Prescription Drug and Medical Costs',
 'Pay off Lowes Card',
 'new kitchen for momma!',
 'DebtC',
 'New Baby and New House (CC Consolidate)',
 'Credit Card/Auto Repair',
 'Student Loan']

In [25]:
import seaborn as sns

In [26]:
#seaborn heatmap
#fig, ax = plt.subplots(figsize=(12,12))
#sns.heatmap(y2015.corr(), linewidth=0.2, vmax=1.0, square=True, linecolor='red', annot=True)

In [27]:
y2015.isnull().sum()

id                                     0
member_id                              0
loan_amnt                              0
funded_amnt                            0
funded_amnt_inv                        0
term                                   0
int_rate                               0
installment                            0
grade                                  0
emp_length                         23817
home_ownership                         0
annual_inc                             0
verification_status                    0
issue_d                                0
loan_status                            0
pymnt_plan                             0
purpose                                0
title                                132
dti                                    0
delinq_2yrs                            0
inq_last_6mths                         0
mths_since_last_delinq            203962
mths_since_last_record            346680
open_acc                               0
pub_rec                                0
revol_bal                              0
total_acc                              0
initial_list_status                    0
out_prncp                              0
out_prncp_inv                          0
                                   ...
mo_sin_old_rev_tl_op                   0
mo_sin_rcnt_rev_tl_op                  0
mo_sin_rcnt_tl                         0
mort_acc                               0
mths_since_recent_bc                3798
mths_since_recent_bc_dlq          312495
mths_since_recent_inq              44599
mths_since_recent_revol_delinq    269358
num_accts_ever_120_pd                  0
num_actv_bc_tl                         0
num_actv_rev_tl                        0
num_bc_sats                            0
num_bc_tl                              0
num_il_tl                              0
num_op_rev_tl                          0
num_rev_accts                          1
num_rev_tl_bal_gt_0                    0
num_sats                               0
num_tl_120dpd_2m                   19230
num_tl_30dpd                           0
num_tl_90g_dpd_24m                     0
num_tl_op_past_12m                     0
pct_tl_nvr_dlq                         0
percent_bc_gt_75                    4239
pub_rec_bankruptcies                   0
tax_liens                              0
tot_hi_cred_lim                        0
total_bal_ex_mort                      0
total_bc_limit                         0
total_il_high_credit_limit             0
Length: 103, dtype: int64

In [28]:
y2015.columns[y2015.isnull().any()]

Index(['emp_length', 'title', 'mths_since_last_delinq',
       'mths_since_last_record', 'last_pymnt_d', 'next_pymnt_d',
       'last_credit_pull_d', 'mths_since_last_major_derog', 'annual_inc_joint',
       'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'inq_fi', 'total_cu_tl', 'inq_last_12m', 'bc_open_to_buy', 'bc_util',
       'mo_sin_old_il_acct', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_rev_accts', 'num_tl_120dpd_2m',
       'percent_bc_gt_75'],
      dtype='object')

In [29]:
to_drop = y2015.columns[y2015.isnull().any()]

In [30]:
y2015.drop(columns=to_drop, inplace=True)

In [31]:
y2015.shape

(421095, 68)

In [32]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score


rfc = ensemble.RandomForestClassifier()
X1 = y2015.drop('loan_status', 1)
Y1 = y2015['loan_status']
X1 = pd.get_dummies(X1)
#X1 = X1.dropna(axis=1)

cross_val_score(rfc, X1, Y1, cv=10)

array([ 0.96096032,  0.96464107,  0.963335  ,  0.96157774,  0.96103063,
        0.96105438,  0.77897837,  0.96079223,  0.96029164,  0.94955588])

In [33]:
y2015.isnull().sum()

id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
                             ..
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
acc_open_past_24mths          0
avg_cur_bal                   0
chargeoff_within_12_mths      0
delinq_amnt                   0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mort_acc                      0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_30dpd                  0
num_tl_90g_dpd_24m            0
num_tl_op_past_12m            0
pct_tl_nvr_dlq                0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
Length: 68, dtype: int64

In [34]:
list(y2015.columns.values)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'purpose',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [35]:
to_go_columns = ['mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']
skinny_y2015 = y2015.drop(to_go_columns, inplace=True, axis=1)

In [37]:
skinny_y2015.head(5)

AttributeError: 'NoneType' object has no attribute 'head'

In [36]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score


rfc = ensemble.RandomForestClassifier()
X1 = skinny_y2015.drop('loan_status', 1)
Y1 = skinny_y2015['loan_status']
X1 = pd.get_dummies(X1)
#X1 = X1.dropna(axis=1)

cross_val_score(rfc, X1, Y1, cv=10)

AttributeError: 'NoneType' object has no attribute 'drop'